// Place all the styles related to the RSVP controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html {
#  background: url('/assets/bg-lobby.jpg') no-repeat left center fixed;
#  background: url('/assets/bg-stata.jpg') no-repeat left center fixed;
#  background: url('/assets/bg-thug.jpg') no-repeat left center fixed;
#  background: url('/assets/bg-hugkiss.jpg') no-repeat left center fixed;
#  background: url('/assets/bg-charles.jpg') no-repeat left center fixed;
  background: url('/assets/bg-steps.jpg') no-repeat left center fixed;
  background-size: cover;
}

.rsvp_textarea {
  margin-top: 5px;
  width: 450px;
  height: 40px;
  margin-bottom: 15px;

}

.label {
  display: block;
  font-weight: bold;
}

.rsvp-radios {
  margin-bottom: 20px;
}

.light-divider {
  border-bottom: 1px solid #ccc;
  height: 1px;
  width: 100%;
}

form#rsvp-form {
  margin-top: 35px;
  padding: 10px;
}


