// Place all the styles related to the RSVP controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html {
#  background: url('/assets/bg-lobby.jpg') no-repeat left center fixed;
#  background: url('/assets/bg-stata.jpg') no-repeat left center fixed;
#  background: url('/assets/bg-thug.jpg') no-repeat left center fixed;
#  background: url('/assets/bg-hugkiss.jpg') no-repeat left center fixed;
#  background: url('/assets/bg-charles.jpg') no-repeat left center fixed;
  background: url('/assets/bg-steps.jpg') no-repeat left top fixed;
  background-size: cover;
}

.rsvp_textarea {
  margin-top: 5px;
  width: 450px;
  height: 40px;
  margin-bottom: 15px;

}

.label {
  display: block;
  font-weight: bold;
}

.rsvp-radios {
  margin-bottom: 20px;
}

.light-divider {
  border-bottom: 1px solid #ccc;
  height: 1px;
  width: 100%;
}

form#rsvp-form {
  margin-top: 25px;
  padding: 10px;
}

.food {
  display: none;
}

#po {
  padding-top: 15px;
#  border-top: 1px solid #000;
}

#bottom-form {
  padding-top: 15px;
  border-top: 1px solid #333;
}

h2.name {
  font-size: 18px;
  margin-bottom: 15px;
  border-bottom: 1px solid #333;
  color: #333;
}

input#rsvp_code {
  width: 200px;
  height: 25px;
  font-size: 18px;
  display: block;
}

input[type=submit] {
  width: 100px;
  height: 40px;
  margin-top: 10px;
}

form {
  margin-top: 20px;
}

.error { font-weight: bold; color: red;}
