<% content_for :header do %>
  <%= stylesheet_link_tag "guestbook" %>
<% end %>

<h1>Guestbook</h1>
<% @comments.each do |comment| %>
  <div class="entry">
    <div class="from"><%= comment[:from] %></div>
    <%= comment[:comment] %>
  </div>
<% end %>
