July 20, 2013<br />
<script type="text/javascript">
$(document).ready(function() {
  var weddingDate = new Date(2013, 6, 21);
  $("#countdown").countdown({until: weddingDate, compact:true, layout: '{dn} days left!'});
  });
</script>

<div id="countdown" style="height: 30px;width:200px;"></div>
<%= javascript_include_tag "jquery.countdown.min" %>
Welcome!
We're so excited to spend our wedding day with you. Please make sure to RSVP and sign the guestbook. If you have any questions feel free to email both of us at <a href="mailto:erniepark.tinahsu@gmail.com">erniepark.tinahsu@gmail.com</a>.

