<% content_for :header do %>
  <%= stylesheet_link_tag "registry" %>
<% end %>

<h1>Registry</h1>
If you would like to get us a gift, you can do it through our <a href="http://www.amazon.com/registry/wedding/2L2FS6YVG7QWL">Amazon registry</a> or a cash gift if it is more convenient.
<a href="http://www.amazon.com/registry/wedding/2L2FS6YVG7QWL">
<img id="amazon" src="/assets/amazon.png"/>
</a>

We have been incredibly blessed by God and have had all our material needs provided for. Anything on our registry is simply icing on the cake. We know how expensive it can be to attend a wedding and if providing a gift is a burden, <strong>please do not get us a gift</strong>. Instead, we would love a personal card or to just spend an evening over dinner at our place.
