<h1>Our Story</h1>
<p>
It was the beginning of sophomore year, and Ernie was toiling away in class trying to finish his lab like any good MIT student. He saw the cute lab assistant walking around offering help to stuck students and knew he recognized her. "You were at Cornerstone, right?". Ernie knew he recognized Tina from church the Sunday prior and locked on. Tina was slightly intimidated yet intrigued by the jockish, song-singing, yet kind person she saw at church, while Ernie was drawn to Tina's smile and (seemingly) soft demeanor. It was not love at first sight... but they became friends.
</p>
<p>
That year was filled with awkward new friend moments, Tina yelling at Ernie for not being smart enough, and also laughs and fun times. For two people who were "just friends", they spent an awful lot of time together - in nearly every computer science class together, working on problem sets, in fellowship, and at church. Pretty soon the questions started coming
</p>

Rwanda/Italy, same time zone, talked a lot. Ernie thought, am I really crushing on my LA..
watched a movie. First time outside of class/ blah. Wicked. Breakfast at Tiffany's. Sucked. Drove Tina home, confessed. Buried head, ran away...
next day, she told me she was DTR.

dated, ups, downs, 




