<% content_for :header do %>
  <%= stylesheet_link_tag "venue" %>
<% end %>

<h1>Venue & Transportation</h1>
<p>
  Our wedding ceremony and reception will begin at 5pm, July 20th at the Fuller Craft Museum.
</p>
<div id="fuller-details">
  <strong>Fuller Craft Museum</strong> (<a href="http://goo.gl/maps/I7qH1">Google Maps</a>)<br />
  455 Oak St<br />
  Brockton, MA<br />
  508.588.6000<br />
  <a href="http://fullercraft.org">fullercraft.org</a><br />
</div>
<p>
The museum is backdropped by a beautiful lake and forest and also has some interesting crafts and other art to check out.
</p>
<p>
  Although the Braintree Stop on the Red Line will take you about 15 minutes from the museum, you do need a car to get to the venue. If you cannot find a ride with another guest, we suggest trying out Zipcar or Budget. There is ample parking space for everyone.
</p>
<!--
<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Fuller+Craft+Museum,+Oak+Street,+Brockton,+MA&amp;aq=0&amp;oq=fuller+cra&amp;sll=42.367169,-71.106949&amp;sspn=0.099816,0.154324&amp;ie=UTF8&amp;hq=Fuller+Craft+Museum,+Oak+Street,+Brockton,+MA&amp;t=m&amp;ll=42.101787,-71.045654&amp;spn=0.016557,0.032015&amp;output=embed"></iframe><br />
-->
